<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-top-section">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
      <a href="https://discord.gg/mq6qjsbY" target="_blank" rel="noopener noreferrer" class="footer-discord-link footer-discord-desktop">
        <img src="{{ '/assets/images/discord-logo.svg' | relative_url }}" alt="Discord" style="height: 24px; width: 24px;">
        <span>Come say hi!</span>
      </a>
    </div>
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
        <a href="https://discord.gg/mq6qjsbY" target="_blank" rel="noopener noreferrer" class="footer-discord-link footer-discord-mobile">
          <img src="{{ '/assets/images/discord-logo.svg' | relative_url }}" alt="Discord" style="height: 24px; width: 24px;">
          <span>Come say hi!</span>
        </a>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>

